<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><b>Reservations</b></h3>
    </div>
    <div class="box-body">
        Reservations Data will be displayed here
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->